<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"></meta>
	<meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0"></meta>
	<link rel="stylesheet" href="../static/bootstrap/4.0.0/css/bootstrap.min.css" th:href="@{/bootstrap/4.0.0/css/bootstrap.min.css}"></link>
	<script src="../static/jquery/3.3.1/jquery-3.3.1.min.js" th:src="@{/jquery/3.3.1/jquery-3.3.1.min.js}"></script>
	<script src="../static/popper/popper.min.js" th:src="@{/popper/popper.min.js}"></script>
	<script src="../static/bootstrap/4.0.0/js/bootstrap.min.js" th:src="@{/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<title>Cadastro confirmado - Sinal da Sorte</title>
</head>
<body>
	<h1>E-mail confirmado com sucesso!</h1>
	Busque a sorte clicando no link: <a href="http://localhost:8100/">Sinal da Sorte</a>
</body>
</html>
